# Python
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook
.ipynb_checkpoints/

# Virtual environment
venv/
env/
.venv/

# Training outputs
results/
runs/
checkpoints/

# Model files
final_model/

# Dataset
data/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/